{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "phpUnit": {
        "customPath": "./phpunit.phar"
    },
    "logs": {
        "text": "infection-log.txt"
    }
}
